body {
    font-family: Arial, sans-serif;
    background-image: url(./immaginemeteo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.search-bar {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: blueviolet;
    color:white;
    border: 0;
}

.weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.weather-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.weather-card h2 {
    margin: 0;
    font-size: 1.2em;
}

.weather-card p {
    margin: 5px 0;
}

